<!doctype html>
<html>

<head>
  <title>Coding Collection</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <section class="container">

    <div class="jumbotron text-center">
      <h1>Coding Collection</h1>

      <p>Login or Signup:</p>

      <a class="tag" href="/login" class="btn btn-default">Login</a>
      <a class="tag" href="/signup" class="btn btn-default">Signup</a>

  </section>

  </div>
</body>

</html>