body {
  padding-top: 30px;
  word-wrap: break-word;
  background-color: black;
  background-size: contain;
}

img {
  height: 300px;
  width: 80%;
}

span {
  color: white;
}

label {
  color: white;
}

.cartImg {
  height: 300px;
}

.itemContainer {
  margin-left: 10%;
}

.container {
  background-image: url(img/code.jpg);
  width: 30%;
  margin-left: 35%;
}

.fa-cart-plus {
  color: white;
  font-size: 20px;
}

.price {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  margin-left: -12%;
}

a {
  color: #9c7;
  font-size: 20px;
  margin-left: 90%;
}

h3 {
  color: #9c7;
}

h1 {
  color: #9c7;
  font-family: 'Righteous', cursive;
  text-align: center;
}

.dropdown {
  width: 25%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

button {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.userInput {
  margin-left: 38%;
}

.tag {
  font-size: 20px;
  margin-left: 20px;
}

.jumbotron {
  background-color: black;
}

.tag {}