body {
  padding-top: 80px;
  word-wrap: break-word;
  background-color: black;
}

img {
  height: 200px;
}

.jumbotron h1 {
  color: mistyrose;
  text-shadow: 1px 1px 5px black;
}

.btn-default {
  border: 0;
  background-color: inherit;
}

.fa-user:before {
  color: mistyrose;
  font-size: 20px;
  text-shadow: 1px 1px 5px black;
}

.btn-sm {
  margin-left: 92%;
  margin-top: -172px;
}

div.well {
  margin-left: 10%;
}

.well {
  display: block;
  margin-left: 50%;
}

li {
  list-style: none;
}

li.message {
  margin-top: 10px;
}

.topics {
  border: 1px solid black;
  height: 200px;
  width: 70%;
  margin-top: 10px;
  margin-left: 15%;
}

.container .jumbotron {
  background-color: #e4e3df;
}

h1, .h1 {
  color: mistyrose;
}

label {
  color: mistyrose;
}

.btn-warning {
  background-color: black;
  border: 0;
}

a, li {
  color: mistyrose;
  text-align: center;
  margin-left: 75%;
}

h2 {
  color: pink;
}